<mat-toolbar>Contatos</mat-toolbar>
<form [formGroup]="formGroup" (ngSubmit)="salvar()">
    <mat-form-field class="full-width">
        <mat-label>Nome:</mat-label>
        <input formControlName="nome" matInput placeholder="Digite o nome!" />
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>CPF:</mat-label>
        <input formControlName="cpf" matInput placeholder="Digite o CPF!" />
    </mat-form-field>
    <button mat-button color="primary">Cadastrar</button>
</form>